.formulario{
    background-color: grey;
    padding-top: 5vh;
}
.formulario__titulo{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.3rem;
    color:rgb(70, 69, 69);
    
}
.namebuttontodos{
    width: 55vw;
    display: flex;
    justify-content: space-around;
    margin-left: 21vw;
}