.contenido__title{
    display: flex;
    position: absolute;
    box-sizing: border-box;
}
.contenido__img_fondo{
    width: 100%;
    height: 50%;
    position: absolute;
    border-bottom: 3px solid blue;
}
.contenido__img{
    position: relative;
    max-width: 30%;
    height: 290px;
    border:4px solid blue; 
    margin: 6vh 6vw;
    
}
.contenido__title{
    color:rgb(247, 247, 250);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    position: relative;
    align-items: center;
    -webkit-text-stroke:1px rgb(186, 186, 245);
}
.contenido__descripcion{
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 10vw;
    padding-bottom: 7vh;
}
.contenido__titulo{
    color: rgb(53, 52, 52);
    font-weight: bold;
    font-size: 2rem;
}
.contenido__info{
    width: 70vw;
    padding-left: 5vw;
    font-size: 1.3rem;
    color:rgb(53, 52, 52);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.contenido__video{
    width: 70vw;
    height: 32vh;
    margin-left: 5vw;
    background-color: rgba(173, 173, 173,0.4);
    display: flex;
    align-items: center;
}
.contenido__iframe{
    border:3px solid blue; 
    margin-left: 1vw;
}
.contenido__T{
    color:rgb(53, 52, 52);
    margin-left:1.5vw;
}

