.lista__contenedor{
    display: flex;
    padding: 0 15vw;
    align-items: center;
    justify-content: center;
}

.lista__select{
    width: 70%;
    background-color: #cac8c8;
    box-shadow:  10px 10px 30px 0px rgba(0, 0, 0, 0.06);
    border: none;
    padding: 20px 15px;
    outline-color:#48214d;
    font-size: 16px;
    box-sizing: border-box;
    border-right:3px solid blue;
    border-bottom: 1.5px solid blue;
    margin:1vw;
    font-family: 'Times New Roman', Times, serif;
    color:gray;
}